<div class="container">
  <br><br>
  <h2>CORONA SAFETY CHECK </h2>
  <br>
  <app-search (change) = "setViewFlag('false')" (stateEmit)="setState($event)" (districtEmit)="setDistrict($event)" ></app-search>

  <br>

    <ng-container *ngIf="searchStateTerm && searchDistrictTerm">

    <button type="button" class="btn btn-primary" (click) = "showData()"> SAFETY CHECK </button>

    <br><br><br>

    <ng-container *ngIf="viewFlag">
    <h3 *ngIf="filteredData.length"> Total Patients in your area : {{filteredData.length}} </h3>
    <h3 *ngIf="filteredData.length == 0  && status"> You are safe. No cases reported so far. </h3>  
    
      <app-table  [data]="filteredData"></app-table>
    </ng-container>
    
    
    
    </ng-container>

  
  
  
  


</div>
