
<div id="container-wrapper">


<div id="main-container" class="container">

    <div  class="row" >
      <div class="col">
        <div class="fixed-top">
          <h1><a  href="https://www.covid19india.org/faq">DATA AS PER COVID19 INDIA</a></h1>
          </div>
      
      </div>
    </div>
  
  
  
    <div class="row">
      <div class="col">

        <br><br><br><br>
  <h2>CORONA STATUS CHECK </h2>
  <br>
  <br>
  <br>
  <br>
  <app-search (change) = "setViewFlag('false')" (stateEmit)="setState($event)" (districtEmit)="setDistrict($event)" ></app-search>

  <br>

    <ng-container *ngIf="searchStateTerm && searchDistrictTerm">

    <button id="okbutton" type="button" class="btn btn-primary" (click) = "showData()"> OK </button>

    <br><br><br>

    <ng-container *ngIf="viewFlag"> 
    <h3 *ngIf="filteredData.length"> Total Cases in {{searchDistrictTerm}} : {{filteredData.length}} </h3>
    <h3 *ngIf="filteredData.length"> Recovered : {{recovered}} </h3>
    <h3 *ngIf="filteredData.length"> Hospitalized : {{hospitalized}} </h3>
    <h3 *ngIf="filteredData.length"> Deaths : {{deceased}} </h3>
    <h3 *ngIf="filteredData.length"> Status not Disclosed : {{statusNotDisclosed}} </h3>
    

    <h3 *ngIf="filteredData.length == 0  && status"> <b>No cases reported so far. <br>
      Follow government guidelines. <br> Keep yourself safe from COVID-19.</b> </h3>  
    
      <div>
        <app-table   [data]="filteredData"></app-table>
      </div>
      
    
    </ng-container>
    
    
    
    </ng-container>

      </div>
    </div>


  

   </div>


  </div>