

/* You can add global styles to this file, and also import other style files */
@import '../node_modules/semantic-ui-css/semantic.css';

#colorMarkGreen{
    background-color: #90ee90;
  }

#colorMarkYellow{
    background-color: #ffc107;
}

#colorMarkRed{
  background-color :red;
}

#okbutton{
  position: absolute;
  margin:auto;
}

.fixed-top {
  background-color: #DCDCDC;
}

#main-container{
  display: inline-block;
}

#table-container{
  display: inline-block
}

#container-wrapper{
  text-align: center
}

.box.flex {
  display: flex;
  justify-content: center;
}